# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and debug
*.log
*.pot
*.mo
*.sqlite3

# IDE / Editor folders
.vscode/
.idea/
*.swp
*~

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Environment variables
*.env
.env.*
